/* 닫기(프로젝트 리스트로 돌아가기) 버튼 */
.close-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  width: var(--wContent);
  height: 100px;
  top: 0;
  margin: auto;
  z-index: 10000;
}

.close-btn {
  /* position: fixed; */
  /* top: 0; right: var(--content-padding); */
  position: absolute;
  right: calc(var(--content-padding) * -.5);
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  font-size: .8rem;
  border-radius: 2rem;
  opacity: .5;
  transition: .3s;

  /* opacity: .8; */
  /* text-shadow: 0 0 5px white; */
  /* border: 1px solid var(--cGreyTwo); */
  background-color: var(--cDark-background);
}
.close-btn:hover {
  opacity: 1;
  border-color: var(--cTintBlue);
}
.close-btn span {
  margin-right: .3rem;
}
/* header starts */
header {
  color: var(--cDark-background);
}
.header-container {
  position: relative;
  height: 95vh;
}
.header-bg {
  height: 100%;
  background-color: var(--cGreyTwo);
}
#headerBg {
  transform: translateY(-100%);
  transition-duration: .5s;
  transition-timing-function: cubic-bezier( 0.98, 0, 0.76, 0.99 );  
}
.header-title-wrapper {
  position: absolute;
  bottom: 7vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}
.header-title-wrapper h1 {
  font-size: 10vw;
  font-size: 10em;
  font-weight: 400;
  text-align: center;
}
.header-title-wrapper h1 > small {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3rem;
}
#headerTitle {
  /* padding-top: 3rem; */
  transform: translateY(13rem);
  transition-duration: .4s;
  transition-timing-function: cubic-bezier( 0.98, 0, 0.76, 0.99 );
}

/* main starts */
main {
  padding: var(--content-padding) 0;

}
.main-container {
  margin: 0 auto;
}
.section--description {}
.description-title-wrapper {
  overflow: hidden;
}
.section--description h2 {
  font-weight: 100;
  font-size: 3rem;
  word-break: keep-all;
}
#projectDescription {
  transform: translateY(13em);
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.98, 0, 0.76, 0.99);
}

.section--description ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-top: 4rem;
}
.section--description li {}
.section--description li h3 {
  display: inline-block;
  position: relative;
  margin-bottom: .8rem;
  padding-right: .2rem;
}
.section--description li h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: .5px;
  width: 100%;
  background-color: var(--cGreyTwo)
}
.section--description li p {}
.section--description li.ongoing p {
  animation: blinking 1s ease-in-out infinite alternate;
  font-size: 1rem;
}
.section--description li a {
  font-weight: normal;
  font-style: normal;
  line-break: anywhere;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}

.section--detail {
  padding-top: 5rem;
}
.section--detail p {
  width: var(--wText);
  margin: 0 auto;
  margin-top: 4rem;
  line-height: 2rem;
  letter-spacing: .02rem;
  word-break: keep-all;
}
.section--detail > img {
  margin-top: 4rem;
  border-radius: 1rem;
}
.section--detail > img:first-child {
  margin-top: 0;
}
.detail-img-wrapper {
  position: relative;
  width: 100%;
  margin-top: 4rem;
}
.detail-img-wrapper::before {
  position: absolute;
  top: 4rem;
  content: '';
  width: 100%;
  height: 80%;
  background-color: var(--cBeige);
  opacity: .05;
  z-index: -1;
}
.detail-img-wrapper li {
  padding: 0 3rem;
}
.detail-img-wrapper li:nth-of-type(2) {
  padding-top: 3rem;
}
.detail-img-wrapper li:nth-of-type(3) {
  padding-top: 1rem;
}
.detail-img-wrapper img {
  max-width: 100%;
  height: auto;
}
.section--detail video {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 1rem;
  overflow: hidden;
}

.section--links {
  text-align: center;
  overflow: hidden;
}
.links-wrapper {
  /* transform: translateY(-50px); */
  overflow: hidden;
}
.section--links .link:nth-of-type(2){
  margin-left: 4rem;
}
.section--links h3 {
  font-weight: 400;
}
.section--links a {
  display: block;
  margin-top: 1.5rem;
  font-weight: 400;
}
#projectLinks {
  transform: translateY(-5em);
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.98, 0, 0.76, 0.99);
  opacity: .1;
}

@media (max-width: 1200px) {
  main {
    padding-bottom: calc(var(--content-padding) * 2);
  }
  .close-btn {
    right: calc(var(--content-padding) * .5);
  }
  header {
    padding: 0 var(--content-padding);
  }
  .header-container {
    height: 80vh;
  }
  .header-title-wrapper h1 {
    font-size: 6rem;
  }
  
}

@media (max-width: 430px) {
  :root {
    --wText: 80%
  }

  .header-title-wrapper {
    top: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-top: -3.5rem;
  }
  .header-title-wrapper h1 {
    font-size: 3rem;
  }

  .section--description {
    margin-top: 2rem;
  }
  .section--description h2 {
    font-size: 1.5rem;
  }
  .section--description ul {
    display: block;
    margin-top: 3rem;
  }
  .section--description li {
    margin-top: 1.5rem;
  }
  .section--description li h3 {
    font-size: 1rem;
  }

  .section--detail {
    margin-top: 1rem;
  }
  .section--detail p {
    margin-top: 3rem;
    line-height: 1.5rem;
  }
  .section--detail video,
  .section--detail img {
    width: 90%;
  }
  .detail-img-wrapper {}
}