.body-container {
  display: flex;

  /* Header Starts */
  header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 40%;
    margin-right: 4rem;
    padding: 2.5rem 0;
    padding-left: var(--content-padding);
    height: 100vh;

    /* visual */
    & > img {
      display: block;
      width: 40%;
    }

    /* menu + indicator */
    .indicator-container {
      width: fit-content;

      li {
        margin-top: 0.8rem;

        button {
          display: flex;
          align-items: center;
          font-size: 1rem;
          font-weight: normal;
          font-style: normal;
          opacity: 0.4;

          span {
            height: 1px;
            width: 1rem;
            margin-right: 0.5rem;
            background-color: var(--cGreyTwo);
            transition: 0.3s;
            transform-origin: 0;
          }

          .btnIcon {
            margin-right: 0.2rem;
          }
        }

        &:hover {
          button {
            color: var(--cTintBlue);
            opacity: 1;

            span {
              width: 3rem;
              background-color: var(--cTintBlue);
            }
          }
        }

        &.active {
          button {
            color: var(--cTintBlue);
            opacity: 1;

            span {
              width: 3rem;
              background-color: var(--cTintBlue);
            }

            .btnIcon {
              transform: translateY(-5px);
            }
          }
        }
      }
    }

    /* lang buttons */
    .header__button-container {
      position: absolute;
      bottom: 2.5rem;
      left: 0;
      flex-direction: column;
      align-items: center;

      .lang-container {
        .switch-button {
          filter: drop-shadow(-1px 1px 1px var(--cDark-green));

          span {
            height: 1.8rem;
            width: 1.8rem;
            background: no-repeat center center / contain;
            transition: 0.1s;
          }

          /* ko lang on */
          &.ko .switch-top {
            background-image: url(../images/lang_en_off.svg);
          }
          &.ko .switch-bottom {
            background-image: url(../images/lang_ko_on.svg);
          }
          &.ko:hover .switch-top {
            background-image: url(../images/lang_en_on.svg);
          }
          &.ko:hover .switch-bottom {
            background-image: url(../images/lang_ko_off.svg);
          }

          /* en lang on */
          &.en .switch-top {
            background-image: url(../images/lang_en_on.svg);
          }
          &.en .switch-bottom {
            background-image: url(../images/lang_ko_off.svg);
          }
          &.en:hover .switch-top {
            background-image: url(../images/lang_en_off.svg);
          }
          &.en:hover .switch-bottom {
            background-image: url(../images/lang_ko_on.svg);
          }

          &.ko:active .switch-top,
          &.en:active .switch-bottom {
            opacity: 0.8;
          }
        }
      }
    }

    /* contact area */
    .header-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .about-wrapper {
        font-size: 0.85rem;

        h2 {
          margin-bottom: 0.5rem;
          color: var(--cGreyOne);
          font-size: 1.8rem;
        }

        .about-wrapper__detail {
          & > p {
            color: var(--cGreyOne);
            span {
              &::after {
                content: " /";
              }

              &:last-child:after {
                content: none;
              }
            }
          }

          .description {
            margin-top: 0.8rem;
            line-height: 1.7;

            .weatherIcon {
              display: inline-block;
              width: 1.1rem;
              margin-left: 0.2rem;
              vertical-align: sub;
            }

            button {
              font-weight: normal;
            }
          }
        }
      }

      .contact-wrapper {
        margin-top: 1.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid var(--cGreyOne);

        * {
          font-weight: normal;
          font-style: italic;
          font-size: 0.8rem;
        }
      }
    }
  }

  /* Main Starts */
  main {
    flex: 1;
    padding: var(--content-padding) 0;

    .main-container {
      width: 100%;

      // about (not ready yet)
      .section--about {
        margin-top: 0;
        padding: 0 var(--content-padding);
        h3 {
          margin-bottom: 1rem;
        }
        p {
          margin-top: 2rem;
          &:first-of-type {
            margin-top: 0;
          }
        }
      }

      // project list
      .section--project {
        .project-lists {
          .project {
            border-radius: 0.5rem;
            border: 1px solid transparent;
            transition: 0.3s;

            a {
              display: block;
              padding: 2rem var(--content-padding) var(--content-padding);
              font-weight: normal;
              font-style: normal;

              h3 {
                display: flex;
                align-items: baseline;
                margin-bottom: 0.3rem;
                color: var(--cGreyOne);
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: -0.1rem;
                transition: 0.3s;

                small {
                  margin-left: 0.3rem;
                }
                .browser-box {
                  width: 1.2rem;

                  .icon__svg {
                    width: 0.8rem;
                    fill: none;
                    stroke: var(--cGreyOne);
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    transition: 0.3s;
                  }
                }
                .icon {
                  margin-left: 0.5rem;
                  vertical-align: middle;
                }
              }

              .project__role {
                letter-spacing: -1px;
              }

              .project__description {
                margin-top: 1rem;
              }

              .project-lists__skills {
                display: flex;
                margin-top: 1rem;
                flex-wrap: wrap;

                li {
                  margin-right: 0.5rem;
                  margin-top: 0.5rem;
                  padding: 0.5rem 0.8rem;
                  color: var(--cDark-background);
                  font-size: 0.8rem;
                  border-radius: 1rem;
                  background-color: #3f8637;
                  color: var(--cBeige);
                  letter-spacing: 1px;
                }
              }
            }

            &:hover {
              background-color: #ffffff0e;
              border-top: 1px solid #ffffff1a;

              h3 {
                color: var(--cTintBlue);

                .browser-box {
                  .icon__svg {
                    transform: translate(5px, -5px);
                    stroke: var(--cTintBlue);
                  }
                }
              }
            }

            &:active {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

/* project detail page starts ????*/
.project-detail-page {
  position: fixed;
  width: var(--wContent);
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--cGreyTwo);
}

/*
*
* Mobile 스타일링
*
*/
@media (max-width: 1200px) {
  .body-container {
    display: block;
    padding: 4rem 0;

    /* header */
    header {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0 var(--content-padding);

      .indicator-container {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        // margin-top: 0;
        padding: 0 var(--content-padding);
        background-color: #41544199;
        z-index: 1;

        li {
          margin-top: 0;
          margin-right: 1.5rem;

          button {
            padding: 1rem 0;
          }
          span {
            display: none;
          }

          &:hover {
            button {
              color: inherit;
              opacity: 0.4;
            }
          }

          &.active {
            button {
              color: var(--cTintBlue);
              opacity: 1;
            }
          }
        }
      }

      /* header button container */
      .header__button-container {
        flex-direction: row;
        position: fixed;
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        margin-right: var(--content-padding);
        z-index: 10;

        .lang-container {
          .switch-button {
            padding: 0.7rem 0;

            span {
              height: 1.8rem;
              width: 1.8rem;
              background: no-repeat center center / contain;
              transition: 0.1s;
            }
          }
        }
      }

      .about-wrapper {
        h2 {
          font-size: 1.8rem;
          font-weight: 600;
        }
        .about-wrapper__detail {
          font-size: 1rem;

          .description {
            position: fixed;
            bottom: 0;
            left: 0;
            width: max-content;
            display: flex;
            padding: 1rem var(--content-padding);
            font-size: 0.85rem;
            color: var(--cGreyOne);
            z-index: 2;
            animation: flow 20s linear infinite;

            & > p::after {
              content: "·";
              margin-right: 1rem;
              margin-left: 1rem;
            }

            &:focus,
            &:active {
              animation: flow 20s linear infinite;
            }
          }

          &::after {
            position: fixed;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3.5rem;
            background-color: #27332777;
            z-index: 1;
          }
        }
      }

      .contact-wrapper {
        display: none;
        margin-top: 0.8rem;
        padding: 0;
        border: none;
      }
    }

    /* main */
    main {
      width: 100%;
      margin: 0;
      padding-top: 1rem;

      .main-container {
        .section--about {
          padding-top: 0;

          h3 {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  header {
    & > img {
      display: block;
      float: right;
    }

    .about-wrapper {
      h2 {
        font-size: 1.8rem;
        font-weight: 600;
      }
      .about-wrapper__detail {
        .description {
          padding-top: 0.5rem;
          padding-bottom: 0.8rem;

          p {
            span {
              display: block;

              &::after {
                content: none;
              }
            }
          }
        }
        &::after {
          height: 3rem;
        }
      }
    }
  }
}

/* about */
@keyframes flow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
