@charset "utf-8";
/*@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto:100, 400, 900);*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url(all.min.css);
@import url(normalize.css);

/*font*/
body {
	font-family: 'Noto Sans KR', sans-serif;
/*	background: linear-gradient(3deg, #272727, #272727, #6d6d6d, #272727, #272727, #272727) no-repeat fixed*/
	background-color: #272727;
}
/*scroll*/
/* width */
::-webkit-scrollbar {
		width: 15px;
	background-color: #777;
	}
	/* Track */
	::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e4ff00; 
}
.en {
	font-family: 'Roboto', sans-serif
}

.hidden {
	display: none
}

/*header*/
header {
	height: 80px;
/*	background: #cef800;*/
	/*
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: #272727
*/
	/*	margin: auto;*/
}

header .header-con {
	position: relative;
	width: 1200px;
	height: 100%;
	line-height: 80px;
	margin: auto;
	/*	border-bottom: solid 1px rgb(208, 250, 0, 0.3);*/
}

.header-con .logo {
	float: left;
	width: 50px;
	height: 80px;
}

.header-con .logo > a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/logo.png) no-repeat center center / contain
}

.header-con .gnb {
	float: right;
	width: 300px;
	height: 100%;
	color: #cfe800
}

.header-con li {
	position: relative;
	float: left;
	width: 33.3333%;
	height: 100%
}

.header-con li > a {
	/*	float: left;*/
	display: block;
	position: absolute;

	width: 100%;
	height: 80px;

	text-transform: uppercase;
	letter-spacing: 1px;
	overflow: hidden
}

.header-con b {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	;
	height: 100%;

	opacity: 1;
	font-weight: normal;
	text-align: center;
	transform: rotateX(0deg);
	transition: all 0.5s
}

.header-con strong {
	position: absolute;
	top: 20px;
	left: 0;

	width: 100%;
	height: 100%;

	opacity: 0;
	color: #fff;

	font-weight: normal;
	text-align: center;
	transform: rotateX(180deg);
	transition: all 0.5s
}

.header-con li > a:hover strong {
	opacity: 1;
	top: 0;
	transform: rotateX(0deg)
}

.header-con li > a:hover b {
	opacity: 0;
	top: -20px;
	transform: rotateX(180deg);
}

.header-con .mobile-menu {
	position: absolute;
	right: 0px;
	top: 0px
}

.mobile-menu button {
	position: absolute;
	top: 40px;
	right: 0px;
	margin: auto;
	width: 20px;
	background: transparent;
}

.mobile-menu img {
	display: block;
	width: 100%;
}

.mobile-menu .bar,
.mobile-menu .close {
	display: none;
	cursor: pointer
}

/*jQuery*/
.clone {
	position: fixed;
	top: -80px;
	width: 100%;
	height: 80px;
	z-index: 1
}

.clone .header-con {
	position: relative;
	width: 1200px;
	height: 100%;
	line-height: 80px;
	margin: auto;
	background: rgb(38, 38, 38, 0.8);
	border-bottom: solid 1px rgb(208, 250, 0, 0.3);
	box-sizing: border-box
}

.clone.on {
	top: 0
}

/*--------------------------------------jQuery ë*/
footer {
	padding: 30px 0;
	/*  border-top: solid 1px rgb(208, 250, 0, 0.3);*/
	background: #272727;
}

footer address {
	font-style: normal;
	color: #cef800;
	text-align: center;
}

/*tablet*/
@media screen and (min-width: 640px) and (max-width: 1240px) {

	header {
		height: 80px;
		border-bottom: solid 1px rgb(208, 250, 0, 0.3);
	}

	.header-con .logo {
		height: 80px;
	}

	header .header-con {
		width: 90%;
		line-height: 80px;
		border-bottom: 0;
	}

	.header-con .gnb {
		width: 350px;
	}

	.clone .header-con {
		width: 90%;
		border-bottom: 0;
	}

}

@media screen and (max-width: 640px) {

	header {
		position: relative;
		height: 80px;
		border-bottom: solid 1px rgb(208, 250, 0, 0.3);
		z-index: 2
	}

	header .header-con {
		position: relative;
		width: 90%;
		height: 80px;
		line-height: 80px;
		border-bottom: 0;
	}

	.header-con li > a:hover b {
		top: -5px;
		opacity: 1
	}

	.header-con .logo {
		height: 80px
	}

	.header-con .gnb a {
		font-size: 18px
	}

	.header-con .bar {
		display: block
	}

	/*	jQuery */
	.header-con .gnb {
		position: fixed;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		padding: 100px;
		box-sizing: border-box;
		background: #1a1a1a
	}

	.header-con li {
		position: static;
		float: none;
		width: 100%;
		height: auto;
		text-align: center;
	}

	.header-con li > a {
		position: static;
		width: 100%;
		height: auto;
		line-height: 50px;
		margin-top: 10px;
	}

	.header-con strong {
		display: none;
	}

	.header-con b {
		position: static;
		width: auto;
		height: auto;
	}

	.header-con .mobile-menu {
		right: 0;
		top: -10px;
		z-index: 1
	}

	.header-con .gnb {
		display: none
	}

	.header-con .gnb.on {
		display: block
	}

	.clone .header-con {
		width: 95%;
		border-bottom: 0;
		background: inherit;
	}

	.clone .logo {
		display: none;
	}

	.mobile-menu .close,
	.clone .mobile-menu .bar {
		width: 50px;
		height: 50px;
		padding: 10px;
	}

	.clone .bar {
		background: #000;
	}
	.mobile-menu .close {
		position: fixed;
		top: 30px;
		right: 10px;
	}
}