@charset "utf-8";
@import url(normalize.css);
@import url(all.min.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Monoton);

/*font*/
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222222;
  background: #f7f7f7;
}

.hidden-text {
  display: none;
}

/*layout*/
.bg {
  position: fixed;
  top: 0;
  left: 0;
/*
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
*/
  width: 100%;
  height: 100%;
  
  z-index: -1
}
.bg .bg-pic {
  width: 100%;
  height: 100%;
  background: url(../img/visual-bg-02.jpg) no-repeat center center / cover;
}
.bg video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 70%
/*
  min-height: 100%;
  min-width: 100%
*/
/*  outline: solid 10px #f7f7f7*/
/*  box-shadow: 3px 3px 3px */
}

/*header*/
header {
  position: relative;
  height: 60px;
  background: rgb(247, 247, 247);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  
  z-index: 1
  }
header .header-con {
  line-height: 60px;
}
.header-con .logo {
  position: absolute;
  left: 25px;
  top: 6.5px;
}
.header-con .logo a {
  display: block;
  padding: 5px;
}
.header-con .logo img {
  display: block;
  height: 35px;
}
.header-con .gnb {
/*  position: absolute;*/
/*  left: 350px;*/
  width: 711px;
  margin: auto
}
.header-con .gnb > li {
  position: relative;
  float: left;
  width: 16.6666%;
/*  background: #000;*/
}
.header-con .gnb > li > a {
  display: block;
/*  float: left;*/
/*
  height: 100%;
  width: 100%;
*/
/*  background: #000;*/
  font-size: 14px;
  text-transform: uppercase;
/*  padding: 0 45px;*/
  text-align: center;
  
  }

/*sub-menu*/
.gnb .sub-menu {
  position: absolute;
  top: -600px;
  left: 0;
  width: 100%;
}
.gnb .sub-menu li {
/*  width: 100%;*/
}
.gnb .sub-menu a {
  display: block;
  text-align: center;
  
  padding: 0 4px;
  background: rgba(247, 247, 247, 0.5);
}
.gnb > li:hover .sub-menu {
  top: 60px;
}
.sub-menu a:hover {
  background: rgba(247, 247, 247, 0.9);
  color: #000;
}
/*secondary-nav*/
.secondary-nav {
  position: absolute;
  right: 30px;
  top: 0;
/*  width: 320px;*/
}
.secondary-nav .login {
  float: left;
  padding-right: 20px;
/*  margin-right: 20px;*/
}
.secondary-nav .login a {
  display: block;  
/*  background: #888;*/
  
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  }
.secondary-nav .login a:after {/*--------------------------------------*/
/*  display: block;*/
  position: absolute;
  left: 65px;
  top: 35%;
  margin-bottom: -7.5px;
  
  content: '';
  width: 1px;
  height: 15px;
  background: #222222;
}
/*search box*/
.secondary-nav .search-box {
/*
  position: absolute;
  top: 15px;
  left: 120px;
*/
  margin-left: 20px;
  float: left;
  width: 150px;
  height: 30px;
  
  border: 1px solid #aaaaaa;  
  
  margin-top: 15px;
  background: transparent
}
.secondary-nav .search-box i {
/*  display: block;*/
  float: left;

  line-height: 30px;
  margin: 0 5px 0 10px;
}
.search-box #search {
  float: left;
  
  height: 100%;
  width: 79%;
  
  background: inherit;
}
.secondary-nav .shop-bag {
/*
  position: absolute;
  right: 0;
*/
  float: right;
}
.secondary-nav .shop-bag a {
  display: block;
  padding: 0 5px;
  font-size: 20px;
  color: #222222;
  margin-left: 20px;
}
.secondary-nav .login a:hover {
  color: #777777;
}
.secondary-nav .shop-bag a:hover {
  color: #777777;
}
/*nav:hover*/
.gnb > li > a:hover {
  color: #000;
/*  font-weight: 900*/
}

.gnb > li > a:after {
  content: '';

  position: absolute;
  left: 16%;
  bottom: 22px;
  
  height: 3px;
  width: 0;
  background: #d22030;
  
  transition: all 0.3s
}

.header-con .gnb > li > a:hover:after {
  width: 70%;
}

.bg .text-box {
  position: absolute;
  bottom: 0;
  right: 150px;
  
  width: 500px;
  height: 150px;
  line-height: 35px;
  padding-top: 10px;
  
/*  transform: rotate(90deg);*/
  text-align: center;
  font-weight: 900;
  font-size: 40px;
/*  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);*/
  color: #000000;
  
  background: #ffffff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1)
}
.bg .text-box b {
  font-size: 20px
}

/*aside*/
aside {
  position: fixed;
  width: 600px;
  height: 100%;
  top: 0;
  left: -610px;
  
  background: #f7f7f7;
  
  transition: all 1.2s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1)
}
aside .shop-box {
  position: absolute;
  right: -90px;
  bottom: 80px  
}
.shop-box a {
  display: block;
  
  width: 120px;
  height: 60px;
  line-height: 50px;
  
  text-align: center;
  background: #000;
  transform: rotate(90deg);
  
  color: #f7f7f7;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 3px
}

aside .wrap {
  position: absolute;
  width: 600px;
  height: 100%;
  overflow: hidden
}
.wrap .aside-con {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -510px;
  
  width: 1020px;
  height: 500px;
}
.wrap .aside-con article {
  float: left;
  width: 300px;
  
  margin: 0 20px;
  opacity: 0.5;
  
  transition: all 0.5s;
  
  font-size: 0.9em;
  line-height: 1.3em;
  text-align: center;
}
.aside-con article a {
  display: block;
  
  width: 300px;
  transform-origin: bottom center;
  transition: all 0.5s
}
.aside-con article img {
  display: block;
  width: 100%;
}
.aside-con article h3 {
  margin-top: 15px;  
  text-transform: uppercase;
}
.aside-con article p {
  margin-top: 5px;
}

aside:hover {
  top: 0;
  left: 0
}

aside:hover .shop-box a {
  background: #f7f7f7;
  color: #222222;
}

.aside-con article:hover,
.aside-con article:nth-child(2) {
  opacity: 1
} 
.aside-con article:nth-child(2) a:hover {
  transform: scale(1.2)
}

.bg .sns {
  position: absolute;
  top: 150px;
  right: 150px;
  
  width: 40px;
  height: 40px;
/*  background: #000;*/
}
.bg .sns a {  
  display: block;
  height: 100%;
  line-height: 40px;
  
  background: #ffffff;
  text-align: center;
  color: #222222;
}
/*
.bg .sns a:first-child:after {
  position: absolute;
  top: 40px;
  right: 5px;
  content: '';
  width: 30px;
  height: 1px;
  background: #222222;
}
*/
.bg .sns a:hover {
  color: #f7f7f7;
  background: #222222;
}

.bg video {
/*  outline: 10px solid #000*/
}


/*Tablet 1024px~340px*/
@media screen and (max-width: 1350px) and (min-width: 340px) {
  .secondary-nav .search-box {
    display: none
  }
  
  .header-con .gnb {
    width: 650px
  }
  
  .bg video {
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    height: 80%
  }
}