@import url(base.css);

/*main*/
main .title-con {
  width: 1200px;
  padding: 100px 0;
  margin: auto
}

.title-con .text {
  width: 320px;
  margin-left: 30%;
}

.text b {
  position: relative;
  display: block;
  color: #777;
}

.text b:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
  height: 1px;
  width: 75px;
  background: #777;
}

.text h2 {
  font-size: 65px;
  margin-top: 10px;
  font-weight: normal
}

.title-con > p {
  margin-left: 35%;
  margin-top: 15px
}

main .main-con {
  background: #fff;
  padding-bottom: 100px;
}

.main-con .con-wrap {
  width: 1200px;
  margin: auto;
  padding-top: 100px
}

.con-wrap h3 {
  position: relative;
	float: left;
	width: 30%;
	margin-right: 5%;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: normal
}
.con-wrap h3:after {
  position: absolute;
  left: 0;
  bottom: -5px;

  content: '';
  width: 80px;
  height: 1px;
  background: #777;
}
.con-wrap h3:nth-of-type(2):after {
	width: 95px
}
.con-wrap .right h3:after {
  width: 95px;
  background: #000;
}

.con-wrap h3 > a:hover {
  color: #ff64ac;
}

.con-wrap h3:hover:after {
  background: #ff64ac;
}

.con-wrap .left {
  float: left;
  width: 30%;
  margin-right: 5%;
}
.con-wrap .option-wrap {
/*  float: left;*/
  width: 100%
}

.option-wrap .opt {
  padding: 20px;
  border-top: solid 1px
}

.option-wrap .opt b {
  float: left;
  color: #777;
  font-size: 14px;
  font-weight: normal
}

.option-wrap h4 {
  float: right;
  font-size: 24px;
  font-weight: normal;
  transition: all 0.3s
}
.option-wrap h4:focus,
.option-wrap h4:hover {
  color: #ff64ac
}
.con-wrap .right {
  float: left;
  width: 65%;
}
.con-wrap .right .add {
  display: block;
}

/*jQuery*/
.right .opt-pic {
  float: left;
  margin-right: 10px;
}
.right .opt-pic .pic {
  display: block;
  width: 120px;
  height: 120px;
  background: #eee no-repeat center center / 65%;
  border-radius: 120px;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer
}
.right .opt-pic p {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center
}
.right .opt-pic .pic:hover {
  opacity: 1
}
.right .opt-pic .pic:focus {
  border: solid 1px;
  opacity: 1
}

/*pic*/
.right .opt-pic .pic1 {
  background-image: url(../img/sub2/sec1-1.png);
  background-size: 75%
}
.right .opt-pic .pic2 {
  background-image: url(../img/sub2/sec1-2.png);
	background-size: 75%
}
.right .opt-pic .pic3 {
  background-image: url(../img/sub2/sec1-3.png)
}
.right .opt-pic .pic4 {
  background-image: url(../img/sub2/sec1-4.png)
}
.right .opt-pic .pic5 {
  background-image: url(../img/sub2/sec1-5.png)
}
.right .opt-pic .pic6 {
  background-image: url(../img/sub2/sec1-6.png)
}
.right .opt-pic .pic7 {
  background-image: url(../img/sub2/sec1-7.png)
}
.right .opt-pic .pic8 {
  background-image: url(../img/sub2/sec1-8.png)
}

/*추천메뉴*/
.right .recom-wrap {
	width: 100%;
	padding: 30px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
	box-sizing: border-box
}
.right .recom-con {
	position: relative;
	width: 100%;
	height: 100%;
}
.recom-con .con-left {
	float: left;
	width: 49%;
}
.recom-con > a {
	position: relative;
	display: block;
	margin-bottom: 20px;
	font-size: 14px
}
.recom-con > a:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	
	content: '';
	width: 125px;
	height: 1px;
	background: #20224a;
}
.recom-con  a:hover {
	color: #ff64ac
}
.recom-con  a:hover:after {
	background: #ff64ac
}

.con-left .left-pic {
	position: relative;
	width: 100%
}
.left-pic .pic {
	display: block;
	width: 100%;
	height: 500px;
	background: url(../img/sub2/recom1.jpg) no-repeat center center / cover;
	transition: all 0.5s
}
.left-pic .pic:hover {
	background-image: url(../img/sub2/recom1-ho.jpg)
}

.left-pic .fa-heart {
  position: absolute;
	right: 20px;
	bottom: 20px;
	
	font-size: 24px;
	color: #fff;
	transition: all 0.5s;
	cursor: pointer
}

.left-pic .fas {
	display: none;
}
.recom-con .right-text {
	float: left;
	width: 49%;
	margin-left: 2%;
}
.right-text b {
	font-size: 14px;
	font-weight: normal;
	color: #777
}
.right-text h4 {
	margin-top: 5px;
	font-size: 42px;
	font-weight: normal
}

.right-text .text-wrap {
	margin-top: 40px;
}
.text-wrap .text-opt {
	margin-top: 20px;
}
.text-wrap .text-opt > a {
	font-size: 20px
}
.text-wrap .text-opt a:hover {}
.text-wrap .text-opt p {
	margin-top: 10px;
	font-size: 14px
}

/*jQuery*/
/*버튼*/
.option-wrap h4.on {
	color: #ff64ac
}

/*재료*/
.con-wrap .right .ingre {
	display: none;
}

.right .recom-wrap {
	display: none;
}

/*tablet*/
@media screen and (min-width: 640px) and (max-width: 1240px) {
	main .title-con {
		width: 90%;
	}
	.title-con .text {
		width: 90%;
		margin-left: 0
	}
	.title-con > p {
		margin-left: 5%;
	}
	.main-con .con-wrap {
		width: 90%
	}
  .con-wrap .left {
  float: none;
  width: 100%;
  margin-right: 0%;
}
	.option-wrap .opt {
		float: left;
		width: 30%;
		margin-right: 5%;
		padding: 20px 0;
	}
	.option-wrap .opt:nth-of-type(3),
	.option-wrap .opt:nth-of-type(6) {
		margin-right: 0;
	}
	.option-wrap .opt b {
		line-height: 27px;
	}
	.con-wrap .right {
		float: none;
		padding-top: 80px;
		width: 100%
	}
	.left-pic .pic {
		display: none;
	}
	.right-text b {
		display: none;
	}
	.recom-con .right-text {
		float: none;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.recom-con > a {
		text-align: center;
	}
	.recom-con > a:after {
		left: 50%;
		margin-left: -62.5px;
	}
	.left-pic .fa-heart {
		display: none
	}
}

/*mobile*/
@media screen and (max-width: 640px) {
	main .title-con {
		width: 90%;
	}
	.title-con .text {
		width: auto;
		margin-left: 0;
		text-align: center
	}
	.text b:after {
		left: 50%;
		margin-left: -37.5px
	}
	.text h2 {
		text-align: center
	}
	.title-con > p {
		margin-left: 0;
		text-align: center;
		line-height: 1.4;
	}
	.main-con .con-wrap {
		width: 90%
	}
	.con-wrap .left {
  float: none;
  width: 100%;
  margin-right: 0%;
}
	.option-wrap .opt {
		float: left;
		width: 47.5%;
		margin-right: 5%;
		padding: 20px 0;
	}
	.option-wrap .opt:nth-of-type(2),
	.option-wrap .opt:nth-of-type(4),
	.option-wrap .opt:nth-of-type(6) {
		margin-right: 0;
	}
	.option-wrap .opt b {
		line-height: 27px;
	}
	.con-wrap .right {
		float: none;
		padding-top: 80px;
		width: 100%
	}
	.con-wrap h3:first-child {
		width: 47.5%;
	}
	.left-pic .pic {
		display: none;
	}
	.right-text b {
		display: none;
	}
	.recom-con .right-text {
		float: none;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.recom-con > a {
		text-align: center;
	}
	.recom-con > a:after {
		left: 50%;
		margin-left: -62.5px;
	}
	.left-pic .fa-heart {
		display: none
	}
	.con-wrap .right .ingre {
		position: relative;
		width: 100%;
		height: 220px;
		
		overflow: hidden;
		overflow-x: scroll
	}
	.right .opt-pic {
		position: absolute;
	}
}