@charset "utf-8";
@import url(base.css);

/*visual*/
.visual {
	height: 730px
}

.visual .visual-con {
	width: 1200px;
	height: 100%;
	margin: auto;
	text-align: center
}

.visual-con video {
	max-width: 80%;
	margin-top: 50px;
}

.visual-con .text-wrap {
	position: relative;
}

.visual-con b {
	display: block;
	margin-top: 35px;
	color: #777;
}

.visual-con h2 {
	font-size: 42px;
	margin-top: 5px;
}

.visual-con h2:after {
	position: absolute;
	top: 70px;
	left: 50%;

	content: '';
	width: 5px;
	height: 5px;
	border-radius: 15px;
	background: #222222;

	animation: scrollDown 1.5s ease-in-out infinite
}

@keyframes scrollDown {
	0% {
		height: 5px;
		transform: translateY(0);
		opacity: 0
	}

	100% {
		height: 15px;
		transform: translateY(80px)
	}
}

/*main*/
main {
	margin-top: 15%;
}

/*section 공통*/
main .con {
	width: 1200px;
	margin: auto
}

.con b {
	font-size: 14px;
	color: #777
}

.con h3 {
	margin-bottom: 50px;
	font-size: 65px
}

.con p {
	line-height: 1.5;
	font-size: 18px
}

.con > a {
	position: relative;
	width: 130px;

	display: block;
	font-size: 14px;
	margin-top: 50px;
	margin-bottom: 20px
}

.con > a:hover {
	color: #ff64ac
}

.con > a:after {
	position: absolute;

	content: '';
	left: 0;
	bottom: -5px;
	width: 125px;
	height: 1px;

	background: #20224a
}

.con > a:hover:after {
	background: #ff64ac
}

.con .art-wrap {
	width: 100%;
}

.con .art {
	float: left;
	width: 46.5%;

	margin-right: 7%;
	overflow: hidden
}

.con .art:last-child {
	margin-right: 0;
}

.con .art .art-pic {
	position: relative;
	display: block;
	width: 100%;
	height: 640px;
	margin-bottom: 30px;
	background: no-repeat center center / cover;
	transition: all 0.3s
}

.art-pic > a {
	display: block;
	width: 100%;
	height: 100%
}

.con .art .fa-heart {
	position: absolute;
	right: 20px;
	bottom: 20px;

	font-size: 24px;
	transition: all 0.3s;
	cursor: pointer
}

.con .art .fa-heart:nth-child(2) {
	display: none;
}

.con .art-pic:hover .fa-heart:first-child {
	opacity: 1
}

.con .fa-heart:nth-child(2):focus {
	display: none;
}

.con .fa-heart:first-child:focus .fa-heart:last-child {
	display: block;
	color: #ff64ac
}

.con .art h4 {
	font-size: 24px;
	font-weight: normal;
}

.con .art p {
	margin-top: 10px
}

.con .art p a {
	font-size: 14px;
}

.con .art p a:hover {
	color: #ff64ac;
}

/*section1*/
.sec1 .art .art-pic1 {
	background-image: url(../img/index/sec1-art1-1.jpg);
}

.sec1 .art .art-pic2 {
	background-image: url(../img/index/sec1-art2.jpg);
}

.sec1 .art-pic1:hover {
	background-image: url(../img/index/sec1-art1-ho-1.jpg);
}

.sec1 .art-pic2:hover {
	background-image: url(../img/index/sec1-art2-ho.jpg);
}

/*section2*/
main .sec2 {
	margin-top: 200px
}

.sec2 > a {
	width: 140px;
}

.sec2 > a:after {
	width: 140px;
}

.sec2 .art .art-pic1 {
	background-image: url(../img/index/sec2-art1.jpg);
}

.sec2 .art .art-pic2 {
	background-image: url(../img/index/sec2-art2.jpg);
}

.sec2 .art-pic1:hover {
	background-image: url(../img/index/sec2-art1-ho.jpg);
}

.sec2 .art-pic2:hover {
	background-image: url(../img/index/sec2-art2-ho.jpg);
}

/*section3*/
main .sec3 {
	height: 450px;
	padding: 100px 0;
}

.sec3 .next-btn {
	position: relative;
	width: 100%;
}

.sec3 .prev {
	float: left;
}

.sec3 .next {
	float: right;
}

.sec3 .prev:after {
	position: absolute;
	left: 0;
	bottom: -5px;

	content: '';
	width: 43px;
	height: 1px;
	background: #20224a;
}

.sec3 .next:after {
	position: absolute;
	right: 0;
	bottom: -5px;

	content: '';
	width: 43px;
	height: 1px;
	background: #20224a;
}

.sec3 .next:hover {
	color: #ff64ac
}

.sec3 .next:hover:after {
	background: #ff64ac
}

.sec3 .prev:hover {
	color: #ff64ac
}

.sec3 .prev:hover:after {
	background: #ff64ac
}

.sec3 .list {
	margin-top: 20px;
}

.sec3 .list strong {
	font-size: 24px;
	font-weight: normal
}

.sec3 .list strong:hover {
	color: #ff64ac
}

.sec3 .list p > a {
	font-size: 14px
}

.sec3 .list p > a:hover {
	color: #ff64ac
}

/*section list banner*/
main .sec3 {
	/*  padding: 0;*/
	margin-top: 65px
}

.sec3 .banner {
	position: absolute;
	width: 1200px;
	height: 300px;
	overflow: hidden
}

.sec3 .slide {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.sec3 .slide-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

/*tablet*/
@media screen and (max-width: 1240px) and (min-width: 640px) {

	.visual {
		height: 600px;
	}

	.visual .visual-con {
		width: 90%
	}

	.visual-con video {
		max-width: 100%
	}

	main {
		margin-top: 50px
	}

	main .con {
		width: 90%;
	}

	.con .art .art-pic {
		height: 400px
	}

	.sec3 .banner {
		width: 90%
	}
	main .sec3 {
		height: 520px;
	}
	
	.sec3 .banner {
		height: 350px;
	}
}

/*mobile*/
@media screen and (max-width: 640px) {

	.visual {
		height: auto
	}

	.visual .visual-con {
		width: 100%;
		height: 100%;
		padding-bottom: 50px;
	}

	.visual-con video {
		max-width: 100%;
		margin-top: 10px
	}

	.visual-con .text-wrap {
		display: none;
	}

	.visual-con h2:after {
		display: none
	}

	/*section 공통*/
	main .con {
		width: 90%;
	}

	.con .art-wrap {
		margin-bottom: 65px;
	}

	.con h3 {
		font-size: 32px;
		margin-bottom: 35px
	}

	.con p {
		font-size: 18px;
		margin-bottom: 35px;
	}

	.con > p {
		display: none;
	}

	.con > a {
		margin-top: 35px;
		font-size: 12px
	}

	.con > a:after {
		width: 110px;
	}

	.con .art {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.sec2 > a:after {
		width: 120px;
	}

	.con .art .art-pic {
		height: 400px
	}

	.con .art p a {
		font-size: 14px;
		color: #ff64ac
	}

	.con .art h4 {
		display: inline;
		font-size: 18px
	}

	.con .art .fa-heart {
		bottom: 15px;
		right: 15px;
	}

	/*section2*/
	main .sec2 {
		margin-top: 0px;
	}

	/*section3*/
	main .sec3 {
		margin-top: 0;
		height: 520px;
		padding: 0;
	}

	.sec3 h3 {
		margin-bottom: 20px;
	}

	.sec3 .slide-wrap {
		margin-top: 35px
	}

	.sec3 .list strong {
		font-size: 18px
	}

	.sec3 p {
		margin-bottom: 20px;
		color: #ff64ac
	}

	/*section list banner*/
	.sec3 .banner {
		width: 90%;
		height: 100%;
	}
}