/* header starts */
header {
  color: var(--cDark-background);
}
.header-container {
  position: relative;
}
.header-bg {
  height: 95vh;
  background-color: var(--cLight-background);
}
.header-container h1 {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 7rem;
  text-align: center;
}

/* main starts */
main {
  padding: var(--content-padding) 0;

}
.main-container {
  width: 75%;
  margin: 0 auto;
}
.section--description {
  margin-top: 0;
}
.section--description h2 {
  font-weight: 100;
  font-size: 3rem;
  word-break: keep-all;
}
.section--description ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
  grid-template-rows: 1fr; /* 1개의 행 */
  gap: 2rem;
  margin-top: 4rem;
}
.section--description li {}
.section--description li h3 {
}
.section--description li p {}