@import url(../css/normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900);
@font-face {
	font-family: Merri;
	src: url("/fonts/Merriweather-Black.ttf");
	font-weight: 900;
}

@font-face {
	font-family: Merri;
	src: url("/fonts/Merriweather-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: Merri;
	src: url("/fonts/Merriweather-Regular.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Merri;
	src: url("/fonts/Merriweather-Regular.ttf");
	font-weight: 300;
}
* {
	margin: 0;
}

body {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-family: Merri;
	font-size: 7vw;
	font-weight: 300;
	color: #ffffff;
	background-color: #09333B;
	overflow: hidden;
}

/*================
=====images=======
==================*/
/*img step1*/
.onion {
	width: 30vh;
	top: 5vh;
	right: -17vh;
	position: absolute;
	fill: #F76D48;
}
.gift1 {
	position: absolute;
	width: 10vh;
	bottom: 20vh;
	left: 15vw;
}
.gift1 .cls-1 {
	fill:#fff;
}
.gift1 .cls-2 {
	fill:#07242a;
}
.gift1 .cls-3 {
	fill:#f9ab2d;
}

/*img step2*/
.mainDish {
	width: 60vw;
	height: 20vh;
	margin: auto;
	margin-top: 6vh;
	display: none;
}

/*img step5*/
.step5 .tree {
	position: absolute;
	left: -10vw;
	top: 3vh;
	width: 39vw;
	height: 36vh;
}
.step5 .gift2 {
	position: absolute;
	right: 10vw;
	bottom: 50vw;
	width: 30vw;
	height: 10vh;
}

/*img step6*/
.step6 .con3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 20vh;
	margin: 0 auto;
	width: 35vw;
}
/*img step7*/
.step7 .con3 {
	position: absolute;
	top: 20vh;
	left: 0;
	right: 0;
	width: 80vw;
	margin: 0 auto;
}

/*=============
====texts======
===============*/
/*txt step1*/
.step	.text-wrap{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;
	margin: auto;
/*	padding-bottom: 6vh;*/
	text-align: center;
	line-height: 1.4
}
.step .text1 {
	margin-bottom: 3vh;
}
.step .con3 {
	display: none;
	opacity: 0
}
/*txt step2 step7*/
.step7 .text1,
.step2 .text2 {
	font-size: 12vw
}

/*txt step3 step4*/
.step4 .text2,
.step3 .text2 {
	font-size: 4vw;
}
/*txt step6*/
.step6 .text1 {
	margin-bottom: 0;
}
/*txt step7*/
.step7 .text-wrap {
	padding-top: 15vw;
}

/*============
====btn=======
==============*/
button {
	background-color: transparent;
}

.btn-wrap {
	position: absolute;
	right: 10vw;
	bottom: 5vh
}
.btn-wrap .next-btn,
.btn-wrap .prev-btn {
	position: relative;
	width: 50px;
	height: 50px;
	stroke: #ffffff;
	stroke-width: 1px;
	fill: transparent;
	overflow: visible;
	cursor: pointer;
	transition: 0.5s
}
.btn-wrap .next-btn:focus,
.btn-wrap .prev-btn:focus,
.btn-wrap .next-btn:active,
.btn-wrap .prev-btn:active,
.btn-wrap .next-btn:hover,
.btn-wrap .prev-btn:hover {
	fill: rgba(255, 255, 255, 0.1)
}
/*btn js*/
.step {
	display: none;
}

/*============
==js parallex=
==============*/
.text1,
.text2 {
	opacity: 0;
	transition: 2s
}
.text1 {
	transform: translateY(15vh);
}
.text2 {
	transform: translateY(10vh);
}

.text-wrap .paral {
	opacity: 1;
	transform: translateY(0)
}

/*question*/
.quest .text-wrap {
	position: static;
}
.quest .text1 {
	position: absolute;
	left: 0;
	right: 0;
	height: fit-content;
	top: 0;
	bottom: 0;
	margin: auto;
}
.quest .text2 {
	position: absolute;
	left: 0;
	right: 0;
	height: fit-content;
}

.text-wrap .scale {
	transform: scale(0.5)
}
